<h1>index</h1>
<a href="/form">Protected url by form authentication: /form</a> (use login = pwd)<br />
<a href="/direct">Protected url by direct kerberos client: /form</a><br />
<a href="/indirect">Protected url by indirect kerberos client: /form</a><br />
<br />
<a href="protected">Protected url: /protected</a> (won't start any login process)<br />
<br />
<a href="/logout?url=/?forcepostlogouturl">local logout</a><br />
<br />
<a href="/centralLogout?url=/?forcepostlogouturlafteridp">central logout</a>
<br /><br />
profiles: {{profiles}}<br />
<br />
sessionId: {{sessionId}}
